*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.wraper {
  background-color: #8fbc8f;
}

.container {
  max-width: calc(75rem + 2rem);
  padding: 2rem;
  margin: auto;
}

input {
  width: 0;
  height: 0;
}

.slider {
  width: 100%;
}

.images__container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.slide-item {
  width: 100%;
  flex-shrink: 0;
  transition: 0.3s ease-in-out;
}

.slide-item > img {
  width: 100%;
  object-fit: cover;
}

.description__slider {
  display: flex;
}

.texts__slider {
  flex: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.texts__slider > p {
  font-size: 3rem;
  width: 100%;
  flex-shrink: 0;
  transition: 0.3s ease-in-out;
}

.navigation__slider {
  flex: 1;
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.label__container {
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.label__container:hover span {
  background: #bfe9ff;
}

.label__container:active span {
  background: #94d2f5;
}

label {
  width: 5rem;
}

span {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: #d16ba5;
  border-radius: 50%;
  cursor: pointer;
}

#slide1:checked ~ .slider .label1 span,
#slide2:checked ~ .slider .label2 span,
#slide3:checked ~ .slider .label3 span,
#slide4:checked ~ .slider .label4 span {
  background: #aa85d3;
  transform: scale(0.8);
  border: 2px solid #bfe9ff;
}

#slide1:checked ~ .slider .slide,
#slide1:checked ~ .slider p {
  transform: translateX(0);
}

#slide2:checked ~ .slider .slide-item,
#slide2:checked ~ .slider p {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider .slide-item,
#slide3:checked ~ .slider p {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider .slide-item,
#slide4:checked ~ .slider p {
  transform: translateX(-300%);
}

@media screen and (max-width: 62.813rem) {
  .description__slider {
    flex-direction: column-reverse;
    align-items: center;
  }

  .navigation__slider {
    padding-top: 0;
  }
}

@media screen and (max-width: 47.938rem) {
  .texts__slider > p {
    font-size: 1.5rem;
  }
}
